/*Mobile*/
@media (max-width: 740px){
.slider-full{
    width: 100%;
}
.slider-item{
    width: 100%;
    height: 500px;
    display: flex;
    
}
.slider-desc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    
    padding: 20px 110px;
    flex: 1;
}

}
/*PC*/
@media (min-width: 1024px){
    .tour-places{
        margin-left: -16px;
        margin-right: -16px;
    }
   

}
/*Tablet*/
@media (min-width: 739px) and (max-width: 1023px ){

}
@media (max-width: 1023px){
        
}
